@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@font-face {
  font-family: "Iransans";
  src: url(../fonts/IranSans.woff) format("woff"), url(../fonts/IranSans.woff) format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #ee3b41;
  --body-color: #ededed;
  --white-color: #ffffff;
  --border-color: #d9ddf2;
  --text-color: #333;
  --title-color: #222;

  --ff-Iransans: "Iransans", Tahoma, Helvetica, sans-serif;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-xl: 2rem;
  --fs-lg: 1.25rem;
  --fs-md: 0.975rem;
  --fs-sm: 0.75rem;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  --zi-soft: 10;
  --zi-hard: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-xl: 2.5rem;
    --fs-lg: 1.75rem;
    --fs-md: 1rem;
    --fs-sm: 0.85rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--ff-Iransans);
  font-size: var(--fs-md);
}

body.active .dropdown__overlay {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
select,
option {
  border: none;
  outline: none;
  font-family: var(--ff-Iransans);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */
.container {
  padding-inline: var(--space-2);
  margin-inline: auto;
}

@media screen and (min-width: 512px) {
  .container {
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  background-color: var(--body-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: border 0.4s, background-color 0.4s;
}

.swiper-pagination-bullet {
  width: var(--space-2);
  height: 0.25rem;
  border-radius: 0;
  background-color: var(--white-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

.button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--white-color);
  font-weight: var(--fw-semi-bold);
  padding: 1rem 1.5rem;
  margin-top: var(--space-1);
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, 0.4);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 40%);
}

/*=============== SCROLL UP ===============*/
.scrollup,
.phone {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  background-color: var(--white-color);
  color: var(--title-color);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1);
  display: inline-flex;
  padding: var(--space-1);
  font-size: 1.25rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.phone {
  bottom: var(--space-3);
  right: initial;
  left: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.scrollup.active {
  bottom: var(--space-3);
}

/* tab */

.tab {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.tab button {
  display: inline-flex;
  width: 128px;
  padding: var(--space-1);
  border: 1px solid var(--border-color);
}

.tab button:hover,
.tab button.active {
  background-color: var(--text-color);
  color: var(--white-color);
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: var(--space-2);
}

/* breadcrumb */
.breadcrumb {
  margin-bottom: var(--space-3);
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.breadcrumb__item:not(:last-child)::after {
  content: ">";
  font-size: 0.75rem;
}

.breadcrumb__item:last-child {
  font-size: 0.75rem;
  padding-inline: var(--space-1);
  color: var(--text-color);
  margin-top: 0.2rem;
}

.breadcrumb__link {
  display: inline-block;
  font-size: 0.75rem;
  color: #777;
  padding-inline: var(--space-1);
}

/* pagination */

.pagination {
  margin-block: var(--space-2);
}

.pagination__list {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--text-color);
  transition: 0.4s;
}

.pagination__link:hover {
  background-color: var(--text-color);
  color: var(--white-color);
}

/* header & nav */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  z-index: 10;
  background-color: var(--body-color);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo h4 {
  font-size: 1.2rem;
  color: var(--text-color);
  font-family: "Newsreader", serif;
}

.header .menu .head {
  display: none;
}

.header .menu ul {
  list-style-type: none;
}

.header .menu > ul > li {
  display: inline-block;
}

.header .menu > ul > li:not(:last-child) {
  margin-left: 1.5rem;
}

.header a {
  transition: 0.4s;
}

.header a:hover {
  opacity: 0.5;
}

.header .menu a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.5;
  display: block;
}

.header .menu .dropdown {
  position: relative;
  padding-block: 1rem;
}

.header .menu > ul > .dropdown > a {
  padding-left: 1rem;
}

.header .menu > ul > li > a,
.header .menu > ul > li > button {
  padding: 1rem;
}

.header .menu i {
  font-size: 0.625rem;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: var(--text-color);
  top: calc(50% - 5px);
}

.header .menu > ul > li > i {
  left: 0;
}

.header .menu .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  padding: 1rem 0;
  background-color: var(--container-color);
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  background-color: var(--body-color);
}

.header .menu .sub-menu .dropdown {
  padding-block: initial;
}

.header .menu .sub-menu-right {
  left: 100%;
  top: 0;
}

.header .menu .sub-menu-left {
  left: auto;
  right: 100%;
  top: 0;
}

.header .menu li:hover > .sub-menu {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}

.header .menu .sub-menu a,
.header .menu > ul > li > button {
  font-size: 0.85rem;
  padding: 0.375rem 1.5rem;
}

.header .menu .sub-menu i {
  left: 1.5rem;
  transform: rotate(90deg);
}

.header .menu .sub-menu .dropdown > a {
  padding-left: 2.1875rem;
}

.header .menu .sub-menu span {
  background-image: linear-gradient(#333, #333);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}

.header .menu .sub-menu li:hover > a > span {
  background-size: 100% 1px;
}

.header-right {
  display: flex;
}

.header-right > * {
  margin-right: 1.5rem;
}

.header-right button,
.header-right a {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.25rem;
  transition: 0.4s;
}

.header-right button:hover {
  opacity: 0.75;
}

#cart-button {
  position: relative;
}

.cart__badge {
  position: absolute;
  top: -4px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.open-menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 0.75rem 0;
  }

  .header .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: var(--body-color);
    padding: 1rem 2rem 2rem;
    overflow-y: auto;
    z-index: 1;
    transform: translateX(100%);
  }

  .header .menu.active {
    transform: none;
  }

  .header .menu .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.56rem;
  }

  .header .menu .close-menu {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .header .menu .close-menu::before,
  .header .menu .close-menu::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--text-color);
  }

  .header .menu .close-menu::before {
    transform: rotate(45deg);
  }

  .header .menu .close-menu::after {
    transform: rotate(-45deg);
  }

  .header .menu > ul > li {
    display: block;
  }

  .header .menu > ul > li:not(:last-child) {
    margin-right: 0;
  }

  .header .menu li {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  }

  .header .menu li:last-child {
    border-bottom: none;
  }

  .header .menu li:first-child {
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
  }

  .header .menu > ul > li > a,
  .header .menu > ul > li > button {
    padding: 0.75rem 0;
  }

  .header .menu > ul > .dropdown {
    padding-block: initial;
  }

  .header .menu > ul > .dropdown > a {
    padding-left: 2.125rem;
  }

  .header .menu .dropdown .sub-menu i {
    transform: rotate(0deg);
  }

  .header .menu .dropdown.active > i {
    background-color: #2d2b2c;
    color: var(--white-color);
    transform: rotate(180deg);
  }

  .header .menu .dropdown.active > .sub-menu {
    display: block;
  }

  .header .menu i {
    width: 34px;
    height: 34px;
    border: 1px solid var(--border);
    background-color: #dcdcdc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }

  .header .menu .sub-menu {
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }

  .header .menu > ul > li:not(:last-child) {
    margin-left: 0;
  }

  .header .menu .sub-menu li:last-child {
    border: none;
  }

  .header .menu .sub-menu a {
    padding: 0.75rem 0.75rem 0.75rem 0.9375rem;
  }

  .header .menu .sub-menu .sub-menu a {
    padding-right: 1.875rem;
  }

  .header .menu .sub-menu .sub-menu .sub-menu a {
    padding-left: 2.815rem;
  }

  .header .menu .sub-menu span {
    background-image: none;
  }

  .header .menu .sub-menu i {
    transform: none;
    left: 0;
  }

  .open-menu {
    display: block;
  }

  .header-right .open-menu {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .dropdown__overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 10;
  }
}

.main {
  margin-inline: auto;
  width: 100%;
  max-width: 1950px;
}

@media screen and (max-width: 1365px) {
  .main {
    max-width: 1365px;
  }
}

/* search */
/*=============== SEARCH ===============*/
.search {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, 0.6);
  backdrop-filter: blur(16px);
  padding: 8rem 1.5rem;
  transition: top 0.4s;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  padding-inline: 1rem;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--white-color);
  color: var(--text-color);
}

.search__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--space-2);
  gap: var(--space-2);
}

.search__item {
  background-color: var(--white-color);
  padding: var(--space-1);
  transition: opacity 0.4s;
}

.search__item:hover {
  opacity: 0.5;
}

.search__link {
  font-size: var(--fs-sm);
  color: #666;
}

.search__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

/* Show search */
.show-search {
  top: 0;
}

/*=============== LOGIN ===============*/
.login {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, 0.6);
  backdrop-filter: blur(16px);
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  transition: top 0.4s;
}

.login__form {
  background-color: var(--white-color);
  padding: 2rem 1.5rem;
  border: 2px solid var(--border-color);
  row-gap: 1.25rem;
}

.login__title {
  font-size: var(--fs-md);
  margin-bottom: var(--space-3);
}

.login__group {
  row-gap: 1.25rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--white-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  color: var(--text-color);
  text-align: left;
  direction: ltr;
}

.login__signup,
.login__forget {
  display: block;
  font-size: var(--small-font-size);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.login__forget {
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  width: 100%;
  cursor: pointer;
}

.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show login */
.show-login {
  top: 0;
}

@media screen and (min-width: 576px) {
  .search__form,
  .search__list {
    width: 500px;
    margin-inline: auto;
  }

  .login__form {
    width: 400px;
    justify-self: center;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
}

/* home */
.home {
  padding-block: 4rem;
  margin-inline: auto;
}

.home__img {
  width: 100%;
}

/* special  */
.special,
.category,
.relate {
  position: relative;
  padding-block: 4rem;
}

.special::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.special__content::before,
.relate__content::before {
  content: "محصولات";
  display: inline-block;
  font-size: var(--fs-lg);
  color: var(--title-color);
  margin-bottom: var(--space-3);
}

.relate__content::before {
  content: "محصولات مرتبط";
}

.category__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
  margin-block: var(--space-3);
  justify-items: center;
}

.category__title {
  color: var(--title-color);
  margin-bottom: var(--space-2);
  font-size: var(--fs-lg);
}

.category__description {
  color: #444;
  text-align: justify;
  line-height: 2;
  font-size: var(--fs-sm);
}

.category__filter {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.category__order {
  background-color: var(--white-color);
  border: 1px solid #999;
  font-size: 0.6rem;
  color: var(--text-color);
  padding: var(--space-1);
  cursor: pointer;
  width: 100%;
  max-width: 128px;
}

.category__filter ul {
  position: absolute;
  border: 1px solid #999;
  top: 100%;
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  max-width: 128px;
  display: none;
}

.category__filter:hover ul {
  display: block;
}

.category__filter a {
  color: var(--text-color);
  display: inline-block;
  font-size: 0.65rem;
  width: 100%;
  padding: var(--space-1);
}

.category__filter a:hover {
  background-color: #dcdcdc;
}

.category__link {
  color: var(--text-color);
}

.special__item,
.category__item,
.relate__item {
  background-color: var(--white-color);
  color: #222;
  width: 100%;
  max-width: 230px;
  min-height: 300px;
  text-align: center;
  padding: var(--space-1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

.special__item .special__img,
.category__item .category__img {
  transition: 0.4s;
}

.special__item:hover .special__img,
.category__item:hover .category__img,
.relate__item:hover .relate__img {
  opacity: 0.75;
}

.special__name,
.category__name,
.relate__name {
  font-weight: var(--fw-semi-bold);
}

.special__code,
.category__code,
relate__code {
  color: #666;
}

.special__info,
.special__data,
.special__price,
.category__info,
.category__data,
.category__price,
.relate__info,
.relate__data,
.relate__price {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.special__info,
.category__info,
.relate__info {
  padding-block: var(--space-2);
  gap: var(--space-2);
}

.special__new,
.category__new,
.relate__new {
  color: var(--primary-color);
  font-weight: var(--fw-semi-bold);
}

.special__old,
.category__old,
.relate__new {
  text-decoration: line-through;
  font-size: var(--fs-sm);
}

@media screen and (min-width: 400px) {
  .special,
  .category,
  .relate {
    padding-block: 6rem;
  }

  .category__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .special__slide,
  .category__item,
  .relate__slide {
    max-width: 250px;
    min-height: 320px;
  }
}

@media screen and (min-width: 820px) {
  .category__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .special__slide,
  .category__item {
    max-width: 275px;
    min-height: 320px;
  }
}

/* familiar */
.familiar {
  padding-block: 4rem;
}

.familiar__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
  align-items: center;
}

.familiar__content {
  width: 100%;
  max-width: 512px;
  margin-inline: auto;
}

.familiar__info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.familiar__info::before {
  content: "تگرا الکترونیک";
  position: absolute;
  top: -2rem;
  left: var(--space-1);
  font-size: var(--fs-xl);
  opacity: 0.25;
}

.familiar__description {
  text-align: justify;
}

.familiar__btn {
  display: inline-flex;
  padding: var(--space-1) var(--space-3);
  align-self: flex-start;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--text-color);
  color: var(--white-color);
  transition: 0.4s;
}

.familiar__btn:hover {
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

@media screen and (min-width: 768px) {
  .familiar {
    padding-block: 6rem;
  }

  .familiar__content {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-5);
    max-width: initial;
  }
}

/* blog */

.blog {
  position: relative;
  padding-block: 4rem;
}

.blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #2d2b2c;
  z-index: -1;
}

.blog__content::before {
  content: "بلاگ";
  font-size: var(--fs-lg);
  display: inline-block;
  color: var(--title-color);
  margin-bottom: var(--space-3);
}

.blog__item {
  width: 100%;
  max-width: 225px;
  background-color: var(--white-color);
  transition: 0.4s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
  height: 220px;
}

.blog__figure {
  position: relative;
}

.blog__img {
  width: 100%;
  transition: 0.4s;
}

.blog__caption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--space-1);
  font-size: var(--fs-sm);
  background-color: rgba(255, 255, 255, 0.75);
}

.blog__item:hover .blog__img {
  opacity: 0.85;
}

.blog__data {
  padding: var(--space-1) var(--space-2) var(--space-2);
}

.blog__date {
  display: inline-block;
  font-size: var(--fs-sm);
  margin-bottom: var(--space-1);
  color: #999;
}

.blog__title {
  color: var(--text-color);
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .blog__item {
    max-width: 320px;
    height: 290px;
  }

  .blog__title {
    width: 275px;
  }
}

/* article */

.article {
  margin-block: 4rem;
}

.article__title {
  font-size: var(--fs-xl);
  color: var(--title-color);
  margin-bottom: var(--space-3);
}

.article__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
  align-items: start;
}

.article__meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2);
}

.article__figure {
  margin: var(--space-1) auto;
  max-width: 512px;
}

.article__img {
  width: 100%;
}

.article__name {
  color: var(--title-color);
  font-size: var(--fs-md);
}

.article__value {
  color: #444;
  font-size: var(--fs-sm);
}

.article__data {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-md);
  color: #444;
  gap: var(--space-1);
  text-align: justify;
}

.article__data p:last-of-type {
  margin-bottom: var(--space-2);
}

.article__tag {
  margin-block: var(--space-2);
}

.article__tag h4 {
  color: var(--title-color);
  font-size: var(--fs-md);
  margin-bottom: var(--space-3);
}

.article__list {
  display: flex;
  gap: var(--space-2);
}

.article__link {
  padding: var(--space-1);
  color: var(--text-color);
  font-size: var(--fs-sm);
  border: 1px solid var(--border-color);
  transition: opacity 0.4s;
}

.article__link:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .article {
    margin-block: 6rem;
  }

  .article__meta {
    grid-template-columns: 1fr;
  }

  .article__info {
    grid-template-columns: 320px 1fr;
  }
}

/* feature */
.feature {
  padding: 2rem;
}

.feature__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-3);
  justify-items: center;
  align-items: center;
}

.feature__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  gap: var(--space-2);
}

.feature__icon {
  font-size: 3.5rem;
}

@media screen and (min-width: 991px) {
  .feature__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* about */

.about {
  margin-block: 4rem;
}

.about__data {
  position: relative;
}

.about__data h1 {
  margin-block: var(--space-2);
}

.about__data h6 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  line-height: 1.1;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.1);
}

.about__data p {
  color: #666;
  font-size: 0.85rem;
  margin-bottom: 0.75rem;
}

.about__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about {
    margin-block: 6rem;
  }
}

/* contact */

.contact {
  margin-block: 4rem;
}

.contact__img {
  width: 100%;
  border-radius: 4px;
}

.contact__data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-block: 1rem;
}

.contact__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.contact__item {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-1);
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 256px;
  border: 1px solid #ececec;
}

.contact__title {
  color: #333;
}

.contact__description {
  color: #666;
  font-size: 0.75rem;
}

.contact__item ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.contact__item a {
  color: #666;
  font-size: 1.25rem;
}

.contact__item a:hover {
  color: #333;
}

.contact__interaction {
  border: 1px solid #ececec;
  padding: 1rem;
}

.contact__header {
  margin-bottom: 1.5rem;
}

.contact__header p {
  color: #666;
  font-size: 0.9rem;
}

.contact__label {
  color: #666;
  font-size: 0.75rem;
}

.contact__group {
  margin-block: 0.5rem;
  max-width: 368px;
}

.contact_input,
select {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  resize: none;
}

.contact__button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.contact__button:hover {
  opacity: 0.75;
}

@media screen and (min-width: 768px) {
  .contact {
    margin-block: 6rem;
  }
}

/* product */

.product {
  margin-block: 4rem;
}

.product__data {
  display: grid;
  background-color: var(--white-color);
  padding: var(--space-3);
}

.product__gallery {
  width: 100%;
  max-width: 512px;
  margin-inline: auto;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
  margin-block: var(--space-2);
}

.product__item {
  cursor: pointer;
}

.product__item.active {
  border: 2px solid var(--border-color);
}

.product__img {
  padding: var(--space-2);
}

.product__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
}

.product__code {
  font-size: var(--fs-sm);
  color: #777;
}

.product__price {
  font-size: var(--fs-lg);
  margin-block: var(--space-3);
  color: var(--text-color);
}

.product__info ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  font-size: var(--fs-sm);
  margin-block: var(--space-3);
}

.product__info ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-1);
  gap: var(--space-2);
  text-align: justify;
  border-bottom: 1px dashed var(--border-color);
}

.product__info ul li:last-child {
  border-bottom: none;
}

.product__name {
  color: var(--text-color);
}

.product__value {
  color: #777;
}

.product__order {
  align-self: center;
}

.product__order table {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  font-size: 0.75rem;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

.product__order table caption {
  font-size: var(--fs-sm);
  margin-bottom: var(--space-2);
}

.product__order table tr:first-child {
  background-color: #f1f1f1;
}

.product__order table tr th,
.product__order table tr td {
  padding: var(--space-1);
  border: 1px solid var(--border-color);
}

.product__cart {
  display: flex;
  justify-content: center;
  gap: var(--space-3);
  margin-block: var(--space-3);
}

.product__input {
  width: 100%;
  max-width: 32px;
  text-align: center;
  direction: ltr;
}

.product__button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.4s;
}

.product__button:hover {
  opacity: 0.75;
}

.product__button--block {
  width: 100%;
  max-width: 128px;
  background-color: #1c61e7;
  color: var(--white-color);
}

.product__tag {
  display: grid;
  gap: var(--space-1);
  border-top: 1px dashed var(--border-color);
  padding-top: var(--space-2);
}

.product__tag span {
  font-size: var(--fs-sm);
}

.product__label {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem var(--space-2);
}

.product__label li a {
  color: #777;
  font-size: 0.75rem;
  transition: 0.4s;
}

.product__label li a:hover {
  opacity: 0.75;
}

.product__interaction {
  padding: var(--space-3);
  background-color: var(--white-color);
  color: var(--text-color);
}

.product__comment,
.product__question {
  display: grid;
  gap: var(--space-3);
}

.comment__list {
  display: grid;
  gap: var(--space-3);
}

.comment__item h6 {
  color: var(--title-color);
  font-size: var(--fs-sm);
}

.comment__item p {
  color: #666;
  font-size: 0.75rem;
  line-height: 2;
  text-align: justify;
  padding-block: var(--space-1);
  border-bottom: 1px dashed var(--border-color);
}

.comment__item div {
  display: flex;
  justify-content: flex-end;
  font-size: 0.65rem;
  color: #888;
}

.comment__item ul {
  margin: var(--space-2) var(--space-2) var(--space-2) 0;
  background-color: var(--border-color);
  color: var(--text-color);
  padding: var(--space-2);
  line-height: 2;
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .product {
    margin-block: 6rem;
  }

  .product__comment,
  .product__question {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__data {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-3);
    margin-block: var(--space-3);
  }
}

/* cart */

.cart {
  margin-block: 6rem;
}

.cart__data {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  min-height: 250px;
  gap: 1.5rem;
}

.cart__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: var(--white-color);
  padding: var(--space-2);
  color: var(--text-color);
}

.cart__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #333;
  padding-block: 1rem;
}

.cart__img {
  width: 100%;
  max-width: 64px;
  border-radius: 4px;
}

.cart__next {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: var(--space-2);
}

.cart__total {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.cart__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-inline: 0.25rem;
}

.cart__button:hover {
  background-color: #333;
  color: #fff;
}

.cart__button--block {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  padding: var(--space-2);
  background-color: #333;
  color: #fff;
}

.cart__button--block:hover {
  opacity: 0.75;
}

.cart__button--block i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .cart__data {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .cart__data {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .cart__item:first-child {
    display: none;
  }

  .cart__item {
    grid-template-columns: 1fr 1fr;
  }
}

/* checkout */

.checkout {
  margin-block: 6rem;
}

.checkout__interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
}

.checkout__data {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 1.5rem;
}

.checkout__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
  margin-bottom: var(--space-3);
}

.checkout__item {
  display: flex;
  gap: 0.5rem;
}

.checkout__label {
  color: #666;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

.checkout__label--center {
  align-items: center;
}

.checkout__label i {
  font-size: 2.5rem;
}

.checkout__profile,
.checkout__method {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: var(--space-3);
}

.checkout__button {
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: var(--space-2);
  transition: 0.3s;
}

.checkout__button:hover {
  opacity: 0.75;
}

.checkout__button--block {
  display: block;
  width: 100%;
}

.checkout__list {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.checkout__item {
  color: #666;
  font-size: 0.75rem;
  margin-block: 1rem;
}

.checkout__purchase {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
  color: #333;
}

@media screen and (min-width: 768px) {
  .checkout__data {
    grid-template-columns: 2fr 1fr;
  }
}

/* footer */

.footer {
  background-color: var(--text-color);
  color: #888;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
  padding-block: var(--space-5);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer__title {
  color: var(--white-color);
  margin-bottom: var(--space-2);
}

.footer__link {
  color: #888;
  font-size: var(--fs-sm);
  transition: 0.4s;
}

.footer__link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.footer__copyright {
  padding-block: var(--space-1);
  font-size: var(--fs-sm);
  color: #666;
  text-align: center;
}

.footer__description {
  display: flex;
  gap: var(--space-1);
  margin-block: var(--space-2);
}

@media screen and (min-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-5);
    max-width: initial;
  }
}

/* 2k */
@media screen and (min-width: 2024px) {
  body {
    zoom: 1.4;
  }
}

/* 4k */
@media screen and (min-width: 4048px) {
  body {
    zoom: 1.6;
  }
}
