@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@font-face {
  font-family: "Iransans";
  src: url(../fonts/IranSans.woff) format("woff"), url(../fonts/IranSans.woff) format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --header-height: 3.5rem;

  --primary-color: #0278b3;
  --secondary-color: #2c3030;
  --body-color: #f6f6f6;
  --container-color: ;
  --text-color: ;
  --title-color: ;
  --white-color: #ffffff;

  --ff-Iransans: "Iransans", Tahoma, Helvetica, sans-serif;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-xl: 2rem;
  --fs-lg: 1.25rem;
  --fs-md: 0.975rem;
  --fs-sm: 0.75rem;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  --zi-soft: 10;
  --zi-hard: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-xl: 2.5rem;
    --fs-lg: 1.75rem;
    --fs-md: 1rem;
    --fs-sm: 0.85rem;
  }
}

/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-Iransans);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */
.container {
  padding-inline: var(--space-2);
  margin-inline: auto;
}

@media screen and (min-width: 512px) {
  .container {
    width: 100%;
    max-width: 1250px;
    margin-inline: auto;
  }
}

/* showcase */
.showcase {
  position: relative;
  padding-block: 4rem;
  background-image: url(../imgs/resources/clean-room.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.showcase__container {
  height: 100%;
}

.showcase__content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.showcase__header {
  text-align: center;
}

.showcase__title {
  color: var(--primary-color);
  font-size: 4.5vmax;
}

.showcase__group {
  display: inline-block;
  background-color: var(--primary-color);
  color: transparent;
  font-size: 2vmax;
  padding: var(--space-2) var(--space-4);
  border-radius: 8px;
  color: #2c3030;
  margin-top: var(--space-3);
}

.showcase__data {
  margin-block: var(--space-5);
  color: var(--white-color);
}

.showcase__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
  font-size: 2vmax;
  list-style-type: square;
  list-style-position: inside;
}

.showcase__item::marker {
  font-size: 1.5rem;
}

.showcase__description {
  font-size: 1.75vmax;
  margin-top: var(--space-4);
  text-align: center;
  color: #aaa;
}

@media screen and (max-width: 512px) {
  .showcase__list {
    list-style-type: none;
    gap: var(--space-4);
  }
}

/* solution */
.solution {
  padding-block: 4rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.solution__content {
  text-align: center;
}

.solution__header {
  font-size: 2vmax;
  padding-bottom: 4rem;
}

.solution__header span {
  color: var(--primary-color);
}

.solution__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-4);
}

.solution__item {
  width: 100%;
  max-width: 268px;
  border: 1px solid #0088cc50;
  padding: var(--space-4) var(--space-2);
  transition: 0.4s;
}

.solution__item:hover,
.solution__item:hover .solution__icon,
.solution__item:hover .solution__description {
  color: var(--white-color);
}

.solution__item:hover {
  background-color: var(--primary-color);
}

.solution__link {
  color: var(--white-color);
}

.solution__icon {
  font-size: 4rem;
  color: var(--primary-color);
}

.solution__subtitle {
  font-size: 2rem;
  margin-top: var(--space-2);
}

.solution__description {
  color: #aaa;
  font-size: var(--fs-sm);
  margin-top: var(--space-2);
}

/* reason */
.reason {
  padding-block: 4rem;
}

.reason__header {
  text-align: center;
  padding-bottom: 4rem;
}

.reason__header h2 {
  font-size: 2vmax;
  margin-bottom: var(--space-3);
}

.reason__header p {
  color: #555;
}

.reason__header span {
  color: var(--primary-color);
}

.reason__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-5);
}

.reason__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-1);
  width: 100%;
  max-width: 256px;
  text-align: center;
}

.reason__icon {
  color: var(--primary-color);
  font-size: 3.5rem;
}

.reason__description {
  font-size: var(--fs-sm);
  color: #555;
}

@media screen and (max-width: 512px) {
  .reason__item {
    max-width: 168px;
  }
}

/* counter */
.counter {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: var(--space-3);
}

.counter__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-4);
  text-align: center;
}

.counter__item {
  padding: var(--space-4) var(--space-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.counter__count {
  font-size: var(--fs-lg);
}

.counter__count > .counter__number {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .counter__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* group */
.group {
  padding-block: 4rem;
  background-color: var(--secondary-color);
}

.group__header {
  text-align: center;
  margin-bottom: var(--space-5);
}

.group__header h2 {
  color: var(--white-color);
  font-size: 2vmax;
}

.group__header span {
  color: var(--primary-color);
}

.group__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-5);
}

.group__item {
  text-align: center;
  padding: var(--space-2);
  font-size: var(--fs-md);
  transition: 0.4s;
}

.group__item:hover {
  transform: translateY(-5px);
  opacity: 0.75;
}

.group__link {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  color: var(--white-color);
}

.group__icon {
  font-size: 2.5rem;
}

.group__name {
  font-weight: var(--fw-regular);
  font-size: 1.1rem;
}

/* process */
.process {
  margin-block: 4rem;
}

.process__header {
  text-align: center;
}

.process__header h2 {
  font-size: 2vmax;
  margin-bottom: var(--space-3);
}

.process__header p {
  color: #555;
}

.process__data {
  margin-block: var(--space-5);
}

.process__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
}

.process__item {
  position: relative;
  width: 230px;
  height: 300px;
  perspective: 1000px;
}

.process__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 16px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid var(--primary-color);
}

.process__item:hover .process__inner {
  transform: rotateY(180deg);
}

.process__face,
.process__back {
  position: absolute;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.process__item .process__face::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  right: 1rem;
  width: 30px;
  height: 45px;
  border: 1px solid var(--primary-color);
  border-top: none;
  background-color: var(--white-color);
}

.process__item .process__face::after {
  position: absolute;
  top: 0.75rem;
  right: 1.75rem;
  color: var(--primary-color);
  font-weight: var(--fw-semi-bold);
}

.process__item:nth-child(1) .process__face::after {
  content: "1";
}

.process__item:nth-child(2) .process__face::after {
  content: "2";
}

.process__item:nth-child(3) .process__face::after {
  content: "3";
}

.process__item:nth-child(4) .process__face::after {
  content: "4";
}

.process__back {
  padding-inline: var(--space-2);
  transform: rotateY(180deg);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.process__icon {
  font-size: 4rem;
  color: var(--primary-color);
  opacity: 0.5;
}

.process__back .process__icon {
  color: var(--white-color);
}

.process__title {
  margin-top: var(--space-3);
  color: var(--primary-color);
}

.process__back .process__title {
  color: var(--white-color);
}

.process__description {
  color: #555;
  font-size: var(--fs-sm);
  margin-top: var(--space-2);
}

.process__back .process__description {
  color: var(--white-color);
  opacity: 0.9;
}

/* support */

.support {
  margin-block: 4rem;
}

.support__header {
  text-align: center;
  margin-bottom: var(--space-4);
}

.support__header h2 {
  font-size: 2vmax;
}

.support__header p {
  margin-top: var(--space-2);
  color: #555;
}

.support__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
}

.support__item {
  text-align: center;
  width: 100%;
  max-width: 268px;
  padding: var(--space-3);
}

.support__icon {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: var(--space-2);
}

.support__value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-2);
  gap: var(--space-1);
  direction: ltr;
}

.support__link {
  color: var(--text-color);
}

/* footer */

.footer {
  margin-block: var(--space-2);
}

.footer__copyright {
  text-align: center;
  font-size: var(--fs-sm);
  color: #555;
}

.footer__copyright span {
  color: var(--primary-color);
}

/* 2k */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }

  .container {
    padding-inline: var(--space-5);
    max-width: initial;
  }
}

/* 4k */
@media screen and (min-width: 2048px) {
  body {
    zoom: 2;
  }
}
