@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

@font-face {
  font-family: "Iransans";
  src: url(../fonts/IranSans.woff) format("woff"), url(../fonts/IranSans.woff) format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --header-height: 3.5rem;

  --primary-color: #32c5f4;
  --secondary-color: #2c3030;
  --body-color: ;
  --container-color: ;
  --text-color: ;
  --title-color: ;
  --white-color: #ffffff;

  --ff-Iransans: "Iransans", Tahoma, Helvetica, sans-serif;

  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-xl: 2rem;
  --fs-lg: 1.25rem;
  --fs-md: 0.975rem;
  --fs-sm: 0.75rem;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  --zi-soft: 10;
  --zi-hard: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-xl: 2.5rem;
    --fs-lg: 1.75rem;
    --fs-md: 1rem;
    --fs-sm: 0.85rem;
  }
}

/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-Iransans);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */
.container {
  padding-inline: var(--space-2);
  margin-inline: auto;
}

@media screen and (min-width: 512px) {
  .container {
    width: 100%;
    max-width: 1250px;
    margin-inline: auto;
  }
}

/* showcase */
.showcase {
  position: relative;
  padding-block: 4rem;
  background-image: url(../imgs/resources/clean-room.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.showcase__container {
  height: 100%;
}

.showcase__content {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.showcase__header {
  text-align: center;
}

.showcase__title {
  color: var(--primary-color);
  font-size: 4.5vmax;
}

.showcase__group {
  display: inline-block;
  background-color: var(--primary-color);
  color: transparent;
  font-size: 2vmax;
  padding: var(--space-2) var(--space-4);
  border-radius: 8px;
  color: #2c3030;
  margin-top: var(--space-3);
}

.showcase__data {
  margin-block: var(--space-5);
  color: var(--white-color);
}

.showcase__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-3);
  font-size: 2vmax;
  list-style-type: square;
  list-style-position: inside;
}

.showcase__item::marker {
  font-size: 1.5rem;
}

.showcase__description {
  font-size: 1.75vmax;
  margin-top: var(--space-4);
  text-align: center;
  color: #aaa;
}

@media screen and (max-width: 512px) {
  .showcase__list {
    list-style-type: none;
    gap: var(--space-4);
  }
}

/* solution */
.solution {
  padding-block: 4rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.solution__content {
  text-align: center;
}

.solution__header {
  font-size: 2vmax;
  padding-bottom: var(--space-5);
}

.solution__header span {
  color: var(--primary-color);
}

.solution__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-4);
}

.solution__item {
  width: 100%;
  max-width: 268px;
  border: 1px solid #0088cc50;
  padding: var(--space-4) var(--space-2);
}

.solution__link {
  color: var(--white-color);
}

.solution__icon {
  font-size: 4rem;
  color: var(--primary-color);
}

.solution__subtitle {
  font-size: 2rem;
  margin-top: var(--space-2);
}

.solution__description {
  color: #aaa;
  font-size: var(--fs-sm);
  margin-top: var(--space-2);
}

/* 2k */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }

  .container {
    padding-inline: var(--space-5);
    max-width: initial;
  }
}

/* 4k */
@media screen and (min-width: 2048px) {
  body {
    zoom: 2;
  }
}
